html
    head
        title Hawkeye
        link(href="/mdb/css/bootstrap.css", rel="stylesheet")
        link(href="/mdb/css/mdb.css", rel="stylesheet")
        script(src="https://code.jquery.com/jquery-3.2.1.js")

    body
        block content
        script(src="https://use.fontawesome.com/1258c8df48.js")
        script(src="/mdb/js/tether.min.js")
        script(src="/mdb/js/bootstrap.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.9/validator.min.js")
        script(src="/mdb/js/mdb.js")