extends layout

block content
    nav.navbar.navbar-toggleable-md.navbar-dark.bg-primary
        div.container
            button.navbar-toggler.navbar-toggler-right(type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation")
                span.navbar-toggler-icon
            a.navbar-brand(href="#")
                i.fa.fa-cubes.fa-lg
                strong  Hawkeye
            div.collapse.navbar-collapse#navbar
                ul.navbar-nav.mr-auto
                    block navbar-right
                ul.navbar-nav.ml-auto
                    block navbar-left
    block pagebody
